<html>
    <body>
        <div class="blue-themed-title"><h2>About Us</h2></div>
        <div class="about-us-container">
            <div class="about-us-container-left">
                <div class="about-us-top">
                    <div class="about-us-top-left">
                        <div class="about-us-top-title">
                            <h5>About BB insurance</h5>
                        </div>
                        <div class="about-us-top-desc">
                            <p>BB insurance is all about protecting our customers and their investmeants. A car is one of the most expensive necessities in life and we value it. Here at BB we earn your trust and keep it!</p>
                        </div>
                    </div>
                    <div class="about-us-top-right">
                        <div class="about-us-top-img"></div>
                    </div>
                </div>
                <hr />
                <div class="about-us-mid">
                    <div class="about-us-mid-title">
                        <h3>Meet the Team</h3>
                    </div>
                    <div class="about-us-mid-container">
                        <div class="about-us-mid-col">
                            <div class="about-us-pic"><img src="~/Images/pro-female.png" /></div>
                            <div class="about-us-name">Amy Kellog</div>
                            <div class="about-us-bio">Our leading service agent, she has worked with us for over 25 years and has experience to sort the right cover for you.</div>
                        </div>
                        <div class="about-us-mid-col">
                            <div class="about-us-pic"><img src="~/Images/pro-male.png" /></div>
                            <div class="about-us-name">Raymond Holt</div>
                            <div class="about-us-bio">Ray is our very own claim agent, he enjoys spending time with his family in his spare time.</div>
                        </div>
                        <div class="about-us-mid-col">
                            <div class="about-us-pic"><img src="~/Images/coon.jpg" /></div>
                            <div class="about-us-name">Charles Peralta</div>
                            <div class="about-us-bio">One of the Team Leaders and has been with us since the beginning</div>
                        </div>
                    </div>
                </div>
                <div class="about-us-bot">
                    <div class="blue-themed-title"><h2>Testimonials</h2></div>
                    <div class="about-us-bot">
                        <div class="about-us-bot-container">
                            <div class="about-us-bot-col">
                                <div class="testi-content"><p>"Doug set us up with liability and Workers Comp coverage that exceeded our prior coverage and saved us a few bucks at the same time. Good stuff."</p></div>
                                <div class="testi-title"><h5>Terry Jeffords</h5></div>
                            </div>
                            <div class="about-us-bot-col">
                                <div class="testi-content"><p>"I’ve been a client at BB Insurance for many years. I appreciate the courtesy from the staff and Auto Owners’ philosophy of “The No Problem Company”. I’ve been a client with Auto Owners Insurance for more than 40 years. Thank you for a job well done."</p></div>
                                <div class="testi-title"><h5>Rosa Santiago</h5></div>
                            </div>
                            <div class="about-us-bot-col">
                                <div class="testi-content"><p>"I hold BB Insurance Agency in the highest regard as far as customer service goes. You folks are top notch. Whether by phone or email, I get the information and answers I need in a prompt and courteous manner. Thanks again!"</p></div>
                                <div class="testi-title"><h5>Jake Boyle</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-us-container-right"></div>
        </div>
    </body>
</html>