<html>
    <body>
        <div class="slidershow-container">
            <div class="slidershow middle">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <div class="slide s1">
                        <img src="~/Images/1.jpg" alt="slideOne">
                    </div>
                    <div class="slide">
                        <img src="~/Images/2.jpg" alt="slideTwo">
                    </div>
                    <div class="slide">
                        <img src="~/Images/3.jpg" alt="slideThree">
                    </div>
                </div>
                <div class="navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                </div>
            </div>
        </div>
        <div class="home-bridge">
            <div class="home-bridge-border">
            </div>
            <div class="home-bridge-mid">
                <div class="home-bridge-mid-sections">
                    <h3>BB's Values</h3>
                    <h5>We care about our clients!</h5>
                </div>
            </div>
            <div class="home-bridge-bottom">
                <div class="home-bridge-bot-col">
                    <img src="~/Images/person-icon.png" />
                    <h4>Vehicle Insurance Specialists</h4>
                    <h5>You can trust us to know your true value or your vehicle.</h5>
                </div>
                <div class="home-bridge-bot-col">
                    <img src="~/Images/car-icon.png" />
                    <h4>Sign up takes no time at all</h4>
                    <h5>Get coverage quickly with 3 easy steps.</h5>
                </div>
                <div class="home-bridge-bot-col">
                    <img src="~/Images/money-icon.png" />
                    <h4>Great Value</h4>
                    <h5>5 stars from customer reviews.</h5>
                </div>
            </div>
            <div class="home-bridge-border">
            </div>
        </div>
        <div class="home-content">
            <div class="home-content-wrapper">
                <div class="home-content-left">
                    <div class="home-content-section">
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    IRDA Fraud Policy
                                </h3>
                                <p>
                                    According to the Insurance Regulatory and Development Authority (IRDA), every insurance company is required to set up a Fraud Monitoring Framework. The framework shall include measures to protect, prevent, detect and mitigate the risk of fraud from policyholders/claimants, intermediaries and employees of the insurance companies.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/happytruck.jpg"/></div>
                        </div>
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    Anti- Fraud Policies
                                </h3>
                                <p>
                                    These policies also guide in building a framework that will allow them to exchange information with other insurance companies with regard to sharing intelligence on the occurrence of incidents and scenarios of such frauds so that these can be red-flagged within the insurance ecosystem.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/Happy-girl-using-laptop-Stock-Photo-01.jpg" /></div>
                        </div>
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    Control by means of identifying triggers
                                </h3>
                                <p>
                                    One of the ways to control fraud is to identify triggers for early detection. The fraud monitoring function needs to be instrumental in identifying vulnerable and susceptible areas in their customer association to identify triggers to detect fraud.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/Car-Mechanics-670x343.jpg" /></div>
                        </div>
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    Get a homeowners insurance quote online
                                </h3>
                                <p>
                                    Caring for your home and loved ones is crucial. That’s why we offer homeowners insurance you can depend on. From dwelling coverage to personal property protection, we provide homeowners insurance policies to suit your needs and budget.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/99.jpg" /></div>
                        </div>
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    Homeowners insurance and financial standing
                                </h3>
                                <p>
                                    If you own a home and have a mortgage, your lienholder (the bank who is invested in your loan) will likely require you to carry insurance on your home. We often partner with banks to allow members to combine their insurance payments and monthly mortgage bill. This is called escrow. Your agent will be happy to review the details with you.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/homecar.jpg" /></div>
                        </div>
                        <div class="home-content-col">
                            <div class="home-content-info">
                                <h3>
                                    Protecting what's most important
                                </h3>
                                <p>
                                    We’ve grown from a small mutual auto insurance company, owned by policyholders who spent their days farming in Ohio, to one of the largest insurance and financial services companies in the world.
                                </p>
                            </div>
                            <div class="home-content-icon"><img src="~/Images/family-car.png" /></div>
                        </div>
                    </div>
                </div>
                <div class="home-content-right">
                </div>
            </div>
        </div>
        <div class="home-footer">
        </div>
    </body>
</html>