
<html>
    <body>
        <div class="services-banner">
            <div class="services-banner-container">
                <h1>Pick BB Insurance</h1>
                <ul class="services-banner-icons">
                    <li>@Html.ActionLink("Grab a Quote Today!", "Quote", "Home")</li>
                </ul>
            </div>
        </div>
        <div class="services-banner-bottom">
        </div>
        <div class="services-content-container">
            <div class="services-content-top">
                <div class="service-content-top1"></div>
                <div class="service-content-top2">
                    <h3>Easy Stress-free Claims</h3>
                    <h5>You don't even have to leave the house</h5>
                </div>
            </div>
            <div class="services-content-mid">
                <div class="blue-themed-title"><h2>Insurance</h2></div>
                <div class="services-content-mid-container">
                    <div class="services-content-left">
                        <div class="services-content-col1">
                            <div class="services-col1-row1">
                                <h4>Comprehensive</h4>
                            </div>
                            <div class="services-col1-row2">
                                <h4>Third Party, Fire & Theft</h4>
                            </div>
                            <div class="services-col1-row3">
                                <h4>Third Party</h4>
                            </div>
                        </div>
                    </div>
                    <div class="services-content-right">
                        <div class="services-content-col-right">
                            <div class="services-col-title">
                                <h5>Agreed Value</h5>
                            </div>
                            <ul class="services-list">
                                <li class="tick"></li>
                                <li class="tick"></li>
                                <li class="cross"></li>
                            </ul>
                        </div>
                        <div class="services-content-col-right">
                            <div class="services-col-title">
                                <h5>Towing, Transport and Storage</h5>
                            </div>
                            <ul class="services-list">
                                <li class="tick"></li>
                                <li class="cross"></li>
                                <li class="cross"></li>
                            </ul>
                        </div>
                        <div class="services-content-col-right">
                            <div class="services-col-title">
                                <h5>One Event, One Excess</h5>
                            </div>
                            <ul class="services-list">
                                <li class="tick"></li>
                                <li class="tick"></li>
                                <li class="tick"></li>
                            </ul>
                        </div>
                        <div class="services-content-col-right">
                            <div class="services-col-title">
                                <h5>Lifetime Repair Guaranteed</h5>
                            </div>
                            <ul class="services-list">
                                <li class="tick"></li>
                                <li class="tick"></li>
                                <li class="tick"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-content-bot">
                <div class="blue-themed-title"><h2>Policies</h2></div>
                <div class="policies-container">
                    <div class="policies-col">
                        <div class="policies-title"><h3>Comprehensive</h3></div>
                        <div class="policies-content"><p>Our most popular policy of all, Comprehensive covers everything you need.</p></div>
                    </div>
                    <div class="policies-col">
                        <div class="policies-title"><h3>Third Party, Fire & Theft</h3></div>
                        <div class="policies-content"><p>Covers your car in a fire, theft or if you damage someone else's property in your car</p></div>
                    </div>
                    <div class="policies-col">
                        <div class="policies-title"><h3>Third Party</h3></div>
                        <div class="policies-content"><p>Basic coverage if you damage someone else's property in your car.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

